@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Metamorphous", serif;
}

.copyright-disclaimer {
    font-family: serif;
    font-weight: bold;
}

.special-link {
    font-family: sans-serif;
    font-size: medium;
}

.technical-button {
    font-family: "Roboto", sans-serif;
}

.farming-bold {
    color: #ffb500;
}

.farming-color-normal {
    color: orange
}

.guarding-bold {
    color: mediumblue;
}

.guarding-color-normal {
    color: #008fff
}

.plundering-bold {
    color: red;
}

.plundering-color-normal {
    color: #d32424
}

